
@font-face {
    font-family:anton ;
    src: url(Anton-Regular.ttf);
  }
@font-face {
    font-family: roboto-black;
    src: url(Roboto/Roboto-Black.ttf);
}
 
  .name-title
{

    font-family: anton;
    color: #000;
    font-size: 50px;
    text-align:center;

}
 
.header-title
{
    text-align:center;
    font-size: 45px;
}
.color-change
{
    background-color: #D10000;
}
.style-footer
{
    font-family:  roboto;

}